<html>
<head>
    <title>OCP simulateur</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" >
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>

        *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        
        
        }
        .xx{
           
            width: 100%;
             height: 100vh;
              background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://geo.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FGEO.2Fvar.2Fgeo.2Fstorage.2Fimages.2Fmedia.2Fimages.2Fle-phosphate-un-enjeu-mondial-pour-le-siecle-a-venir.2F2463818-1-fre-FR.2Fle-phosphate-un-enjeu-mondial-pour-le-siecle-a-venir.2Ejpg/1280x720/background-color/ffffff/quality/70/le-phosphate-un-enjeu-mondial-pour-le-siecle-a-venir.jpg);
               background-size: cover;
               background-position: center; 
        
        
        
        }
        
        
        
        </style>

</head>
<body class="xx">
    <div class="logo" style="padding:0px 0px 0px 1000px; ">
        <img style="border-radius: 20%;width: 190px;height: 90px;"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/OCP_Group.svg/1200px-OCP_Group.svg.png" >
    </div>
<div class="container">
    
    <div class="row" >
        <div class="col-lg-12">
            <div class="table" style="padding:50px 100px 0px 100px;">
                <table class="table" style="color:aliceblue ;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Couches</th> 
                        <th>BPL</th>
                        <th>MgO</th>
                        <th>MO</th>
                        <th>SiO2</th>
                        <th>CO2</th>
                        <th style="background-color:green ;border-radius: 15%;">% Mélange</th>
                        <th style="background-color:rgb(106, 158, 106);border-radius: 15%;">Nbre Camion</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for value in data %}
                    <tr>
                        <td>{{value.id}}</td> 
                        <td class="editable" data-type="name">{{ value.name }}</td>
                        <td class="editable" data-type="BPL">{{ value.BPL }}</td>
                        <td class="editable" data-type="MgO">{{ value.MgO }}</td>
                        <td class="editable" data-type="MO">{{ value.MO }}</td>
                        <td class="editable" data-type="SiO2">{{ value.SiO2 }}</td>
                        <td class="editable" data-type="CO2">{{ value.CO2 }}</td>
                        <td class="editable" style="background-color:green ;border-radius: 15%;" data-type="Mix">{{ value.Mix|floatformat:2 }}%</td>
                        <td class="editable" style="background-color:rgb(106, 158, 106) ;border-radius: 15%;" data-type="distance">{{ value.distance }}</td>
                        <td class="btn-td-block"><button class="btn btn-block btn-delete btn-danger">DELETE</button></td>
                    </tr>

                    {% endfor %}
                    <tr><td>Moyenne</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>-</td><td>100%</td> </tr>
                    
                </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row form-group" style="margin-top:30px;">
        <div class="col-lg-6" style="padding-left:300px ; ">
            <a href="{% url 'insert_table' %}" class="btn btn-block btn-success" role="button" aria-pressed="true">Insérer les données</a>

        </div>
        <div class="col-lg-6" style="padding-right:300px ; ">
            <button class="btn btn-block btn-success" id="update_btn">Modifier les données</button>
            <button class="btn btn-block btn-success" id="save_all_btn" style="display:none;margin-top:0px">SAVE ALL</button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
              <div class="alert alert-success" id="upt_success" style="display:none">

              </div>
               <div class="alert alert-danger" id="upt_error" style="display:none">

              </div>
        </div>
    </div>
</div>
<script>

    $("#update_btn").click(function(){
            $("#update_btn").hide();
            $("#save_all_btn").show();

       $(".editable").each(function(){
           var value=$(this).text();
           var types=$(this).data('type');
                var html_data="<input type='text' name='"+types+"'  class='form-control input_"+types+" input_data' value='"+value+"'>";
                $(this).html(html_data);
        });
    });

    $("#save_all_btn").click(function(){
        $("#save_all_btn").attr("disabled","disabled");
        $("#save_all_btn").text("Saving Data....");

        var json_data=[];
        $(".input_data").each(function(){
                var value=$(this).val();
                var parent_html=$(this).parent();
                parent_html.html(value);
                $(this).remove();
         });
        $("tbody tr").each(function(){
             var id=$(this).children().eq(0).text()
             var name=$(this).children().eq(1).text()
             var BPL=$(this).children().eq(2).number() 
             var MgO=$(this).children().eq(3).number()
             var MO=$(this).children().eq(4).number()
             var SiO2=$(this).children().eq(5).number()
             var CO2=$(this).children().eq(6).number()
             var distance=$(this).children().eq(7).number()
             var Mix=$(this).children().eq(8).number()
             var single_data={"id":id,"name":name,"BPL":BPL,"MgO":MgO,"MO":MO,"SiO2":SiO2,"CO2":CO2,"distance":distance,"Mix":Mix};
             json_data.push(single_data);
        });

        var string_data=JSON.stringify(json_data)
        $.ajax({
                url:'{% url 'update_details' %}',
                type:'POST',
                data:{data:string_data}
            })
            .done(function(response){
                if(response['error']==false){
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                }
                else{
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function(){
                 $("#upt_success").hide();
                 $("#upt_error").text("Something Went Wrong!");
                 $("#upt_error").show();
            })
            .always(function(){
                 $("#save_all_btn").removeAttr("disabled");
                 $("#save_all_btn").text("SAVE ALL");
                 $("#update_btn").show();
                 $("#save_all_btn").hide();
            })

    });

    $(document).on("click",".btn-delete",function(){
            var this_html=$(this);
            this_html.attr("disabled","disabled");
            this_html.text("DELETING....");
            var id=this_html.parent().parent().children().first().text();
            //console.log(id);
            $.ajax({
                url:"{% url 'delete_details' %}",
                type:'POST',
                data:{id:id}
            })
            .done(function(response){
                if(response['error']==false){
                    this_html.parent().parent().remove();
                    $("#upt_error").hide();
                    $("#upt_success").text(response['errorMessage']);
                    $("#upt_success").show();

                }
                else{
                    $("#upt_success").hide();
                    $("#upt_error").text(response['errorMessage']);
                    $("#upt_error").show();
                }
            })
            .fail(function(){
                 $("#upt_success").hide();
                 $("#upt_error").text("Something Went Wrong    !");
                 $("#upt_error").show();
            });
    });
</script>
</body>
</html>
