<html>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" >
<script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
body {
  
  width: 100%;
     height: 100vh;
      background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(https://geo.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FGEO.2Fvar.2Fgeo.2Fstorage.2Fimages.2Fmedia.2Fimages.2Fle-phosphate-un-enjeu-mondial-pour-le-siecle-a-venir.2F2463818-1-fre-FR.2Fle-phosphate-un-enjeu-mondial-pour-le-siecle-a-venir.2Ejpg/1280x720/background-color/ffffff/quality/70/le-phosphate-un-enjeu-mondial-pour-le-siecle-a-venir.jpg);
       background-size: cover;
       background-position: center; 


}

p {margin: 1em 0 .5em}

input {
    font-size: 1.2em;
    border-radius: 4px;
    padding: 4px;
}

input[type="submit"]{
    margin-top: .5em
}
table>tr>td{width:80px;}
table>th{color: aliceblue;}
table>tr>td input{width:40px;}
</style>

<script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <meta charset="utf-8">
  <title>OCP simulateur</title>
</head>
<body>
  
  <div class="logo" style="padding-left: 1000px;">
    <img style="border-radius: 20%;width: 190px;height: 90px;"  src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/OCP_Group.svg/1200px-OCP_Group.svg.png" >
  </div>
  


<!-------------------------------------------------------------------------------------------------------------------->
<div style="color: aliceblue ;text-align: center;padding: 4%;0% 0.5% 0%">
  
  <label >Le nombre des couches</label>
    <input type="number" id="table-row-num" value="0" oninput="myFunction()">
    
   
</div> 
    <div class="container">
      </div>
        <div class="row">
            <div class="col-lg-12">
                  <div class="alert alert-success" id="upt_success" style="display:none">

                  </div>
                   <div class="alert alert-danger" id="upt_error" style="display:none">

                  </div>
            </div>
        </div>
    <div id= "table-gen" style="padding:0px 100px 0px 100px;">
        <form id="form" method="post" action="">
        <table cellpadding="1" cellspacing="1" border="1">
          <thead style="color:aliceblue ;" >
          <tr>
              <th>Couches</th> 
              <th>BPL</th>
              <th>MgO</th>
              <th>MO</th>
              <th>SiO2</th>
              <th>CO2</th>
              <th>Distance</th>
          </tr>
          </thead>
        </table>
      </form>
    </div>
    <div class="row form-group"  >
      <div class="col-lg-6" style="padding-left:300px ; ">
          <button class="btn btn-block btn-success btn-insert-data Trigger"  id="insert_btn" data-toggle="modal" data-target="#insert_data">Insérer et simuler</button>
      </div>
      <div class="col-lg-6" style="padding-right:300px ; ">
          <a href="{% url 'home' %}" class="btn btn-block btn-success"  role="button" aria-pressed="true">Voir les résultats</a>
      </div>
  
</body>

</html>

<script>

function myFunction() {
  var rows =  document.getElementById("table-row-num").value;
  var html='<thead style="color:aliceblue ;">'+
    '<tr>'  +
        '<th>ID</th>' +
          '<th>Couches</th>'+				
        '<th>BPL</th>'+
          '<th>MgO</th>'+
          '<th>MO</th>'+
          '<th>SiO2</th>'+
          '<th>CO2</th>'+
          '<th>Distance</th>'+
          '<th>MIX %</th>'+
      '</thead>';
      for (var i = 0; i < rows; i++) {
        html += "<tbody>"+"<tr>" +
          "<td>" + (i + 1) + "</td>" +  
          "<td>"+  //<input type='text' name='layer_Name' id='ins_Name["+ i +"]' class='form-control input_data' placeholder='Layer'>"+
            "<select name='layer_Name' id='ins_Name["+ i +"]' class='form-control input_data' placeholder='Layer'>"+
                "<option > select layer </option>"+
                "<option > SM-BO </option>"+
                "<option > SM-MZ </option>"+
                "<option > MAT-NIF </option>"+
                "<option > SFA </option>"+
                "<option > DSP </option>"+
                "<option > C2 Sup </option>"+
                "<option > C4 inf </option>"+
                "<option > C5 supA </option>"+
                "<option > C5 inf </option>"+
                "<option > C6 s+m </option>"+
                "<option > C6 inf </option>"+
            "</select>" +
          "</td>" +
          "<td><input type='number' step='0.01'  name='BPL' id='ins_BPL[ "+i +"]' class='form-control input_data' value='0'></td>" +
          "<td><input type='number' step='0.01'  name='MgO' id='ins_MgO[ "+i +"]' class='form-control input_data' value='0'></td>" +
          "<td><input type='number' step='0.01'  name='MO' id='ins_MO[ "+i +"]' class='form-control input_data' value='0'></td>" +
          "<td><input type='number' step='0.01'  name='SiO2' id='ins_SiO2[ "+i +"]' class='form-control input_data' value='0'></td>" +
          "<td><input type='number' step='0.01' name='CO2' id='ins_CO2[ "+i +"]' class='form-control input_data' value='0'></td>" +
          "<td><input type='number' step='0.01' name='distance' id='ins_CO2[ "+i +"]' class='form-control input_data' value='0' ></td>" +
          
          "<td>   </td>" +
          "</tr>"
          +"</tbody>";
      }

      $('table').html(html);
}

$(".btn-insert-data").click(function(){
  //  $(".btn-insert-data").attr("disabled","disabled");
  //  $(".btn-insert-data").text("Saving Data....");

    var json_data=[];
    $(".input_data").each(function(){
            var value=$(this).val();
            var parent_html=$(this).parent();
            parent_html.html(value);
            $(this).remove();
     });
    $("tbody tr").each(function(){
         var id=$(this).children().eq(0).text()
         var name=$(this).children().eq(1).text()
         var BPL=$(this).children().eq(2).text()
         var MgO=$(this).children().eq(3).text()
         var MO=$(this).children().eq(4).text()
         var SiO2=$(this).children().eq(5).text()
         var CO2=$(this).children().eq(6).text()
         
         var single_data={"id":id,"name":name,"BPL":BPL,"MgO":MgO,"MO":MO,"SiO2":SiO2,"CO2":CO2};
         json_data.push(single_data);
    });
    var string_data=JSON.stringify(json_data)
    $.ajax({
            url:"{% url 'insert' %}",
            type:'POST',
            data:{data:string_data}
        })
        .done(function(response){
            if(response['error']==false){
                $("#upt_error").hide();
                $("#upt_success").text(response['errorMessage']);
                $("#upt_success").show();

            }
            else{
                $("#upt_success").hide();
                $("#upt_error").text(response['errorMessage']);
                $("#upt_error").show();
            }
        })
        .fail(function(){
             $("#upt_success").hide();
             $("#upt_error").text("Something Went Wrong!");
             $("#upt_error").show();
        })
});
</script>